@font-face {
  font-family: "AstroSpace";
  src: url("/fonts/SFNSText-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Normal";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Normal-Bold";
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  font-family: "AstroSpace", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  z-index: 9;
}

footer {
  position: relative;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
}

header h1 {
  color: white;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ddd;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#threejs-container {
  z-index: 10;
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #threejs-container {
    display: none;
  }
}

section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  scroll-margin-top: 60px;
}

@media screen and (max-width: 768px) {
  section {
    padding-top: 120px;
  }
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-screen svg ellipse {
  transform-origin: center;
  animation: spin 2s linear infinite;
}
