.test {
  width: 100%;
  height: fit-content;
  background-color: #333;
  color: white;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  background-color: gray;
}
@media (max-width: 1024px) {
  .form-wrapper {
    width: 90%;
  }
}

#contact-form {
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-label {
  margin-bottom: 50px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-button {
  font-family: "AstroSpace", sans-serif;
  border-radius: 5px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-top: 10px;
  height: 40px;
}

button[type="submit"]:hover {
  background-color: #355;
}
