.work-experience {
  width: 66%;
  background: #f4f4f4;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 25px;
  scroll-margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  font-family: "Normal";
  position: relative;
}

@media (max-width: 1024px) {
  .work-experience {
    width: 90%;
  }
}

.work-title {
  border: none;
  outline: none;
  height: fit-content;
  font-family: "AstroSpace", sans-serif;
}

.git-a {
  margin: 20px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .git-a {
    left: 80%;
    top: 10px;
  }
}

.work-title {
  border: none;
  outline: none;
  height: fit-content;
  font-family: "AstroSpace", sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  background: #fff;
}

.work-list {
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-in-out; /* Adjust time as needed */
  gap: 20px;
}

.work-item {
  overflow: hidden;
  position: relative;
  margin: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.company-title {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Normal", sans-serif;
  width: 100%;
  height: fit-content;
  position: relative; /* Add this line */
}

.company-desc {
  height: 0;
  width: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  transition: height 0.25s ease-in-out; /* Adjust time as needed */
}

.company-desc.active {
  height: fit-content;
}

.work-item h3 {
  margin: 0;
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: #c3cdd6;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #909ba5;
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: black;
  inherits: false;
}

.whole-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: none;
  width: 95%;
  padding: 10px;
  height: fit-content;
  background: linear-gradient(
    var(--myColor1, #c3cdd6),
    var(--myColor2, #909ba5)
  );
  transition: --myColor1 0.5s, --myColor2 0.5s, --myColor3 0.5s;
  color: var(--myColor3);
  z-index: 5;

  border-radius: 10px;
  /* box-shadow: 10px 5px 5px black; */
}

.solid-background {
  position: absolute;
  background-color: black;
  height: 20px;
  padding: 10px;
  border-radius: 25px;
  width: calc(100% - 90px); /* Updated this line: 22px padding on each side */
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  justify-self: center;
  transition: top 0.25s ease-in-out, bottom 0.5s ease, width 0.5s ease,
    height 0.25s ease-in-out;
}

.solid-background-bottom {
  top: 150px;
  bottom: 10px;
  padding: 0;
  height: 4px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .solid-background {
    display: none;
  }
}

.testtest {
  position: absolute;
  background-color: black;
  height: 20px;
  padding: 10px;
  border-radius: 25px;
  width: calc(100% - 80px); /* Updated this line: 22px padding on each side */
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  justify-self: center;
  transition: top 0.5s ease, bottom 0.5s ease, width 0.5s ease;
}

.testtest-bottom {
  top: 150px;
  bottom: 10px;
  height: 380px;
  width: 90%;
}

.whole-line:hover {
  --myColor1: #4e545a;
  --myColor2: #191b1d;
  --myColor3: white;
}

@media (max-width: 768px) {
  .whole-line {
    flex-direction: column;
    gap: 5px;
  }
}

.whole-line:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
.about-me {
  font-size: x-large;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.section-title {
  font-family: "Normal-Bold", sans-serif;
  font-size: 55px;
  margin-top: 12px;
  background-image: linear-gradient(45deg, #818182, #3c3b3f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 12px;
}

.contact-title {
  font-family: "Normal-Bold", sans-serif;
  font-size: 55px;
  margin-top: 12px;
  background-image: linear-gradient(45deg, #efeff1, #a6a6a7);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 12px;
}

.in-line-link {
  text-decoration: underline;
  font-family: "Normal-Bold", sans-serif;
  color: #3c3b3f;
}

.comp-title {
  width: 33%;
  text-align: left;
  font-family: "Normal-Bold", sans-serif;
  font-size: large;
}

.job-title {
  width: 33%;
  font-size: large;
}

.time-frame {
  width: 33%;
  text-align: right;
  font-size: large;
}

@media (max-width: 768px) {
  .comp-title {
    text-align: center;
    width: 100%;
  }
  .time-frame {
    text-align: center;
    width: 100%;
  }
  .job-title {
    width: 100%;
  }
}

.desc-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-left: 10px;
}

.desc-item {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: fit-content;
}

.skills {
  width: 33%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.skills-item {
  height: fit-content;
  color: white;
}
